.dlg-tabs {
  margin: 0;
  padding: 0 15px;
}
.dlg-tabs > li {
  list-style: none;
  display: inline-block;
  float: left;
  position: relative;
  width: 120px;
  height: 50px;
  line-height: 50px;
  cursor: pointer;
  text-align: center;
}
.dlg-tabs > li::after {
  content: '';
  position: absolute;
  bottom: 0;
  margin-bottom: -1px; /* Cover parent's bottom border */
  left: 0;
  right: 0;
  height: 0;
  background: #EC595A;
  transition: height 200ms;
}
.dlg-tabs > li:hover::after {
  height: 5px;
}
.dlg-tabs > li.dlg-tab-selected::after {
  height: 5px;
  background: #E72B2D;
  /* Disable initial transition as selected tab is first set. */
  transition: none;
}
.dlg-tabs-content > div { display: none; }
.dlg-tabs-content > .dlg-tab-content-selected { display: block; }
